#####################################################################
# 	Comments
#####################################################################
# This file contains common pin mappings for the BIGTREETECH Manta M8P V1.1
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# See docs/Config_Reference.md for a description of parameters.


#####################################################################
# 	Includes
#####################################################################
[include mainsail.cfg]
[include KAMP_Settings.cfg]

# Add MCU Config
[include machineconf/mcus.cfg]

# Add Config for Motion Stepper Motor (x,y,z,z1)
[include machineconf/motionstepper.cfg]

# Add Config for Heated Bed
[include machineconf/BedSet.cfg]

# Add Config for Microprobe
[include machineconf/Microprobe.cfg]

# Add Config for LEDs
[include machineconf/LEDSet.cfg]

# Add Config for LCD
[include machineconf/LCDSet.cfg]

# Add Config for Accelerometer
[include machineconf/accel.cfg]

# Add Config for Filament Runout 
[include machineconf/filaSensors.cfg]

# ToolChanger Config
[include BTC_Klipper/btc.cfg]

# Custom Gcodes
[include CustomCode/mygcodes.cfg]
[include  CustomCode/TEST_SPEED.cfg]

[exclude_object]

[save_variables]
filename: ~/printer_saved_variables.cfg

#####################################################################
# 	printer settings
#####################################################################
[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 30000
max_z_velocity: 25
max_z_accel: 30
minimum_cruise_ratio: 0.3

[heater_bed]
#control: pid
#pid_Kp: 75.183
#pid_Ki: 0.751
#pid_Kd: 1880.506

[probe]
#z_offset: 0.0

[bed_mesh]
speed: 500
probe_count: 20,20 #40, 40
horizontal_move_z: 5
mesh_min : 20, 20
mesh_max : 340, 280
algorithm: bicubic


#####################################################################
# 	Fan Settings
#####################################################################
# Fan4: Part cooling Fan
[fan]
pin: PE4 

#####################################################################
# 	Input Shaping
#####################################################################
[input_shaper]
#shaper_type_x = 3hump_ei
#shaper_freq_x = 49.0
#shaper_type_y = ei
#shaper_freq_y = 112.8


#####################################################################
# 	Compensations
#####################################################################
[axis_twist_compensation]
speed: 300
horizontal_move_z: 5
calibrate_start_x: 20
calibrate_end_x: 340
calibrate_y: 138
# For Y-axis twist compensation, specify the following parameters:
calibrate_start_y: 41
calibrate_end_y: 330
calibrate_x: 200

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.475
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.083990, 0.083990, 0.066490, 0.063990
#*# 	0.073990, 0.066490, 0.061490, 0.066490
#*# 	0.063990, 0.058990, 0.053990, 0.056490
#*# 	0.053990, 0.051490, 0.046490, 0.043990
#*# 	0.046490, 0.043990, 0.033990, 0.028990
#*# x_count = 4
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 177.0
#*# max_x = 222.99
#*# min_y = 137.0
#*# max_y = 183.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 75.625
#*# pid_ki = 0.809
#*# pid_kd = 1766.797
